[style]
border_width = 2
titlebar_height = 12

titlebar_color_bg = "SlateBlue"
titlebar_color_fg = "SlateBlue"

border_color_bg = "LightGrey"
border_color_fg = "White"

text_color_bg = "LightGrey"
text_color_fg = "White"

[[bindings]]
mods = "win" # Winkey
key = "Return"
action = "exec:gnome-terminal"

[[bindings]]
mods = "win"
key = "l"
action = "exec:i3lock --color=000000"

[[bindings]]
mods = "win"
key = "p"
action = "exec:rofi -show drun"

